.rounded-circle {
    width: 15vw;          
    height: 15vw;         
    max-width: 270px;
    max-height: 270px;
    border-radius: 50%;    
    object-fit: cover;  
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 0;
  }

  .pencil{
    padding-right: 45px;
    padding-top: 50px;
    font-size: 24px;
    color: black;
  }

  .trush{
    padding-right: 60px;
    padding-top: 10px;
    font-size: 24px;
  }
.container {
    width: 1850px;
}
.userInfo{
    padding-top: 15px;
    padding-right: 400px;
    padding-left: 30px;
  
}
.userInfo div {
    padding-bottom: 10px;
}
.userInfo :nth-child(2) {
    font-weight: 500;
}
.addContactButton {
    padding-top: 20px;
    padding-right: 22px;
}

i{
  padding-top: 9px;
  margin-right: 5px;
}